.events {
	background-color: $color-dark-gray;
	padding: 20px;

	h3 {
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		border-bottom: 1px solid #cacaca;
		font-size: 20px;
		margin-bottom: 20px;
		padding-bottom: 10px;
	}
}